html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
}

.ds-container * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ds-container {
    font: 13px/1.2 Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
    color: #111;
}

.ds-sidebar {
    display: flex;
    flex: 0 0 320px;
    border-right: 1px solid #9b9b9b;
}

.ds-buttons {
    font-size: 12px;
    background: #e8e8e8;
    flex: 0 0 28px;
    position: relative;
    border-right: 1px solid #9b9b9b;
}

.ds-buttons > div {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top 0;
}

.ds-buttons .button {
    white-space: nowrap;
    line-height: 27px;
    padding: 0 10px;
    cursor: default;
}

.ds-buttons .button:hover {
    background: #d7d7d7;
}

.ds-buttons .button.active {
    background: #bbb;
}

.ds-explanation {
    display: flex;
    flex: 0 0 350px;
    border-left: 1px solid #9b9b9b;
}

.ds-explanation .explanation-container {
    background: #e8e8e8;
    flex-grow: 1;
}

.ds-sidebar .content-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content-holder .tab-name {
    background: #ddd;
    line-height: 25px;
    padding: 0 10px;
    border-bottom: 1px solid #9a9a9a;
    flex: 0 0 auto;
}

.content-holder .options {
    background: #e8e8e8;
    border-bottom: 1px solid #c0c0c0;
    font-size: 12px;
    flex: 0 0 auto;
}

.content-holder .options > * {
    display: block;
    float: left;
    width: 50%;
    padding: 5px 10px;
}

.content-holder .options:after {
    content: '';
    display: table;
    clear: both;
}

.content-holder .content-wrapper {
    overflow: auto;
    padding: 10px;
    flex: 1 0;
    width: 320px;
}

.ds-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.ds-container .splitter {
    width: 5px;
    background: #e8e8e8;
    cursor: col-resize;
}

.ds-container .splitter:first-child {
    border-right: 1px solid #9b9b9b;
}

.ds-container .splitter:last-child {
    border-left: 1px solid #9b9b9b;
}

.ds-content .task-header {
    padding: 10px;
    flex: 0 0 auto;
    background: #eee;
    border-bottom: 1px solid #9b9b9b;
}

.ds-content .task-content {
    flex-grow: 1;
    overflow: auto;
}

.ds-content .task-controls {
    padding: 10px;
    flex: 0 0 auto;
    background: #e8e8e8;
    border-top: 1px solid #9b9b9b;
}

.control-checkbox label {
    position: relative;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    padding-left: 18px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 16px;
    color: #444;
}

.control-checkbox input {
    display: none;
}

.control-checkbox label:before,
.control-checkbox label:after {
    content: "";
    top: 0;
    left: 0;
    margin-top: 2px;
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 1px;
}

.control-checkbox label:before {
    background: #fff;
    border: 1px solid #c0c0c0;
}

.control-checkbox label:after {
    line-height: 12px;
    font-size: 8px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity .3s ease-in;
}

.control-checkbox input:checked + label:after {
    font-family: FontAwesome;
    content: "\f00c";
    opacity: 1;
    background: #2aa1c0;
    border-color: #2aa1c0;
}

.task-controls {
    display: flex;
    justify-content: space-between;
}

.task-controls .controls-holder {
    display: flex;
}

.task-controls .horizontal-control {
    padding: 0 10px;
}

.task-controls .horizontal-control:first-child {
    padding-left: 0;
}

.task-controls .horizontal-control:last-child {
    padding-right: 0;
}

.task-controls .control-title {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 5px;
}

.task-controls .control-content input[type="file"] {
    width: 200px;
}

.content-wrapper.flat-list {
    padding: 0;
}

/* list-item width hot fix */
.flat-list .flat-list-container {
    display: inline-block;
    min-width: 100%;
}

.flat-list a {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    color: #111;
    white-space: nowrap;
}

.flat-list a.active {
    background: #d4d4d4;
}

.flat-list a.accepted,
.tree-light > ul .accepted {
    color: #0a7700;
}

.flat-list a.attempted,
.tree-light > ul .attempted {
    color: #993300;
}

.tree-light > ul > li {
    padding-left: 0;
    color: #111;
}

[treecontrol] ul {
    overflow: visible;
}

[treecontrol] li {
    white-space: nowrap;
}

[treecontrol] li .tree-label > span {
    display: inline-block;
    padding-right: 10px;
}

#mc-messages-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

#mc-messages-wrapper .alert {
    margin: 15px;
    padding: 15px 20px;
    width: 260px;
    border: 1px solid #bbb;
    background: #f5f5f5;
    position: relative;
    font: 12px/1.3 Verdana, Geneva, sans-serif;
    color: #111;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mc-messages-wrapper .alert .close {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font: 17px/1 Verdana, Geneva, sans-serif;
    width: 17px;
    text-align: center;
}