<div class="task-header">
    <div style="font-size: 1.1em; margin-bottom: 3px">
        Введение в программирование (быстро)
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        Первая программа
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        Все вместе
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        S1; / S2 / CL : S3;
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        ВВП4. S1; / S2 / CL : S3;</div>
    <div>Установлена: Кугейко Мария, 07.06.2008</div>
</div>
<div class="task-content">растянуть по высоте {{dsNode.params}}</div>
<form action="" class="task-controls">
    <div class="controls-holder">
        <div class="horizontal-control">
            <div class="control-title">Компилятор: <a href="#">?</a></div>
            <div class="control-content">
                <select>
                    <option selected>Valve compiler</option>
                </select>
            </div>
        </div>
        <div class="horizontal-control">
            <div class="control-title">Отправка решения:</div>
            <div class="control-content"><input type="file"><button>Отправить</button></div>
        </div>
        <div class="horizontal-control">
            <div class="control-title"></div>
            <div class="control-content"><button>Не знаю</button></div>
        </div>
    </div>
    <div class="controls-holder">
        <div class="horizontal-control">
            <div class="control-title">Delta:</div>
            <div class="control-content">
                <select>
                    <option selected>DelTA Nit 7</option>
                </select>
            </div>
        </div>
    </div>
</form>