<div class="ds-buttons">
    <div>
        <div class="tasks-tree button"
             ng-class="{active: ds.tabName === 'tree'}"
             ng-click="ds.toggleTab('tree')">
            Дерево задач
        </div>
        <div class="events button"
             ng-class="{active: ds.tabName === 'events'}"
             ng-click="ds.toggleTab('events')">
            Журнал событий
        </div>
    </div>
</div>
<div class="ds-sidebar" ng-hide="!ds.tabName">
    <div class="content-holder" ng-if="ds.tabName === 'tree'">
        <div class="tab-name">Дерево задач</div>
        <div class="options">
            <div class="control-checkbox">
                <input type="checkbox" id="unsolved"  ng-model="ds.onlyUnsolved">
                <label for="unsolved">Только нерешенные</label>
            </div>
            <div class="control-checkbox">
                <input type="checkbox" id="flat-list" ng-model="ds.flatList">
                <label for="flat-list">Плоский список</label>
            </div>
        </div>
        <div class="content-wrapper tree" ng-if="!ds.flatList">
            <div class="tree-light"
                 tree-model="ds.taskTree"
                 options="ds.treeOptions"
                 expanded-nodes="ds.expandedNodes"
                 on-selection="ds.onSelectNode(node)"
                 selected-node="ds.currentNode"
                 filter-expression="ds.treeFilter"
                 treecontrol>
                <span ng-class="{accepted: node.task.status === 'accepted', attempted: node.task.status === 'attempted'}">
                    <span>{{node.title}}</span>
                    <span ng-if="node.task">. {{node.task.title}}</span>
                </span>
            </div>
        </div>
        <div class="content-wrapper flat-list" ng-if="ds.flatList">
            <div class="flat-list-container">
                <a href="" ng-click="ds.onSelectNode(node)"
                   ng-class="{active: node === ds.currentNode, accepted: node.task.status === 'accepted', attempted: node.task.status === 'attempted'}"
                   ng-repeat="node in ds.getLeafs(ds.taskTree.nodes) | filter:ds.flatFilter">
                    {{node.title}}. {{node.task.title}} {{$path}}
                </a>
            </div>
        </div>
    </div>
    <div class="content-holder" ng-if="ds.tabName === 'events'">
        <div class="tab-name">Журнал событий</div>
        <div class="content-wrapper">
            EventLog
        </div>
    </div>
    <!--<div class="splitter"></div>-->
</div>
<div class="ds-content" ui-view></div>
<div class="ds-explanation" ng-if="ds.hintOpened">
    <!--<div class="splitter"></div>-->
    <div class="explanation-container">какая-то дичь, возможно красная</div>
</div>